<nav>
  <!-- <a href="/home">Home</a>
  <a href="/perfil">Perfil</a> -->

  <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  <a [routerLink]="['/perfil']" routerLinkActive="active">Perfil</a>
  <a routerLink="/proyectos" routerLinkActive="active">Proyectos</a>
  <a routerLink="/proyecto-dos" routerLinkActive="active">Proyecto Dos</a>
  <a routerLink="/formularios/basic" routerLinkActive="active">Formularios</a>
  <a routerLink="/formularios/dynamic" routerLinkActive="active">Formularios Dinámicos</a>
  <a routerLink="/formularios/more" routerLinkActive="active">Formularios Más</a>

</nav>