 <div>
      <h3>Agregar proyecto</h3>
      <h4>Proyecto a Agregar: {{name()}}</h4>

      <input
      
         type="text"
         placeholder="Nombre del proyecto"
         [value]="name()"
         (change)="changeName(txName.value)"
         #txName
      >

      <input
      
         type="text"
         placeholder="Descripcion del proyecto"
         [value]="description()"
         (change)="changeDescription(txDescripcion.value)"
         #txDescripcion
    
      >

      <button (click)="addProyecto()">Agregar</button>

      <button (click)="deleteProyecto(1)">Eliminar</button>

    </div>
